/* Purple Group Blog Version 1, Module 5, version 1, Mathew Paschall 8/28/17
Contains reusable functions for the program  */

head{
    background-color: lightgray;
}
body {
    background-color: lightgray;
}
div.footer{
    position: fixed;
    text-align: center;
    bottom: 16px;
    width: 100%;}
div.topright {
    position: absolute;
    top: 8px;
    right: 16px;
}
div.center{
    position: absolute;
    top: 120px;
    left: 600px;
}
div.blogOption{
    position: absolute;
    top: 120px;
    left: 500px;
}
a.option{
    padding: 10px;
}
table.blogs{
    margin: auto;
    border-style: solid;
    background-color: white;
}
td{
    border-style: groove;
    background-color: white;
}

button.logButton{
    margin-left: 125px;
}